.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!hw5/homework/src/main/**/build/
!hw5/homework/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!hw5/homework/src/main/**/out/
!hw5/homework/src/test/**/out/

logs

# Ignore temporary data files
*.dat
